<%- include('./partials/navbar') %>

  <div class="container mt-3">
    <div class="container-main card p-5 text-center shadow-lg rounded-5">

      <h1 class="text-title fw-bold">Descubra músicas parecidas</h1>
      <p class="text-subtitle">
        Digite uma música ou artista e encontre novas recomendações
      </p>

      <div class="text-center">
        <img src="/images/vinil.png" class="vinil-img-home img-fluid" alt="Disco de vinil">
      </div>

      <form action="/" method="GET" class="d-flex justify-content-center gap-2 mt-3 flex-wrap">
        <div id="trackContainer">
          <input type="text" class="form-input form-control w-auto" name="track" placeholder="Nome da música">
        </div>

        <div id="artistContainer">
          <input type="text" class="form-input form-control w-auto" name="artist" placeholder="Nome do artista">
        </div>

        <select class="form-select w-auto form-filter" name="type" id="type">
          <option value="track">Música</option>
          <option value="artist">Artista</option>
        </select>

        <button type="submit" class="btn-form btn btn-dark rounded-circle">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
  </div>
  </main>

  <body>
    <div class="container mt-4">
      <div class="row g-4 justify-content-center">
        <% if(type==='track' ) { %>
          <span class="search-info">Músicas parecidas com: "<%= track %>"</span>
          <% results.forEach(track=> { %>
            <div class="col-md-5">
              <%- include('partials/cardTrack', { track }) %>
            </div>
          <% }) %>
        <% } %>
        
        <% if(type==='artist' ) { %>
          <span class="search-info">Artistas parecidos com: "<%= artist %>" </span>
          <% results.forEach(artist=> { %>
            <div class="col-md-5">
              <%- include('partials/cardArtist', { artist }) %>
            </div>
          <% }) %>
        <% } %>

      </div>
    </div>
    <script>
      const typeSelect = document.getElementById("type");
      const trackContainer = document.getElementById("trackContainer");

      function updateFields() {

        if (typeSelect.value === "artist") {
          trackContainer.style.display = "none";
        } else {
          trackContainer.style.display = "block";
        }
      }
      typeSelect.addEventListener(
        "change",
        updateFields
      );
      updateFields();
    </script>
  </body>

  </html>